# JSON examples and exercise
****
+ get familiar with packages for dealing with JSON
+ study examples with JSON strings and files 
+ work on exercise to be completed and submitted 
****
+ reference: http://pandas.pydata.org/pandas-docs/stable/io.html#io-json-reader
+ data source: http://jsonstudio.com/resources/
****

In [1]:
import pandas as pd

## imports for Python, Pandas

In [2]:
import json
from pandas.io.json import json_normalize

## JSON example, with string

+ demonstrates creation of normalized dataframes (tables) from nested json string
+ source: http://pandas.pydata.org/pandas-docs/stable/io.html#normalization

In [3]:
# define json string
data = [{'state': 'Florida', 
         'shortname': 'FL',
         'info': {'governor': 'Rick Scott'},
         'counties': [{'name': 'Dade', 'population': 12345},
                      {'name': 'Broward', 'population': 40000},
                      {'name': 'Palm Beach', 'population': 60000}]},
        {'state': 'Ohio',
         'shortname': 'OH',
         'info': {'governor': 'John Kasich'},
         'counties': [{'name': 'Summit', 'population': 1234},
                      {'name': 'Cuyahoga', 'population': 1337}]}]

In [4]:
# use normalization to create tables from nested element
json_normalize(data, 'counties')

         name  population
0        Dade       12345
1     Broward       40000
2  Palm Beach       60000
3      Summit        1234
4    Cuyahoga        1337

In [5]:
# further populate tables created from nested element
json_normalize(data, 'counties', ['state', 'shortname', ['info', 'governor']])

         name  population info.governor    state shortname
0        Dade       12345    Rick Scott  Florida        FL
1     Broward       40000    Rick Scott  Florida        FL
2  Palm Beach       60000    Rick Scott  Florida        FL
3      Summit        1234   John Kasich     Ohio        OH
4    Cuyahoga        1337   John Kasich     Ohio        OH

****
## JSON example, with file

+ demonstrates reading in a json file as a string and as a table
+ uses small sample file containing data about projects funded by the World Bank 
+ data source: http://jsonstudio.com/resources/

In [6]:
# load json as string
#json.load((open('data/world_bank_projects_less.json')))

In [7]:
# load as Pandas dataframe
sample_json_df = pd.read_json('data/world_bank_projects_less.json')
sample_json_df

,_id,approvalfy,board_approval_month,boardapprovaldate,borrower,closingdate,country_namecode,countrycode,countryname,countryshortname,...,sectorcode,source,status,supplementprojectflg,theme1,theme_namecode,themecode,totalamt,totalcommamt,url
0,{u'$oid': u'52b213b38594d8a2be17c780'},1999,November,2013-11-12T00:00:00Z,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,2018-07-07T00:00:00Z,Federal Democratic Republic of Ethiopia!$!ET,ET,Federal Democratic Republic of Ethiopia,Ethiopia,...,"ET,BS,ES,EP",IBRD,Active,N,"{u'Percent': 100, u'Name': u'Education for all'}","[{u'code': u'65', u'name': u'Education for all'}]",65,130000000,130000000,http://www.worldbank.org/projects/P129828/ethi...
1,{u'$oid': u'52b213b38594d8a2be17c781'},2015,November,2013-11-04T00:00:00Z,GOVERNMENT OF TUNISIA,NaN,Republic of Tunisia!$!TN,TN,Republic of Tunisia,Tunisia,...,"BZ,BS",IBRD,Active,N,"{u'Percent': 30, u'Name': u'Other economic man...","[{u'code': u'24', u'name': u'Other economic ma...","54,24",0,4700000,http://www.worldbank.org/projects/P144674?lang=en

****
## JSON exercise

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
1. Find the 10 countries with most projects
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [8]:
#load json file into DataFrame
import pandas as pd
import json
import numpy as np
from pandas.io.json import json_normalize

world_bank_data = pd.read_json('data/world_bank_projects.json')
world_bank_data.iloc[11:15,15:25]#looking at specific rows and columns that are missing data

,idacommamt,impagency,lendinginstr,lendinginstrtype,lendprojectcost,majorsector_percent,mjsector_namecode,mjtheme,mjtheme_namecode,mjthemecode
11,250000000,NaN,Investment Project Financing,IN,250000000,"[{u'Percent': 60, u'Name': u'Transportation'},...","[{u'code': u'TX', u'name': u'Transportation'},...","[Rural development, Social protection and risk...","[{u'code': u'10', u'name': u'Rural development...","10,6,6,11"
12,97000000,MINISTRY OF COMMUNICATIONS,Specific Investment Loan,IN,97000000,"[{u'Percent': 100, u'Name': u'Information and ...","[{u'code': u'CX', u'name': u'Information and c...",NaN,"[{u'code': u'4', u'name': u''}]",4
13,25000000,MINISTRY OF INFRASTRUCTURE,Specific Investment Loan,IN,92000000,"[{u'Percent': 85, u'Name': u'Transportation'},...","[{u'code': u'TX', u'name': u'Transportation'},...","[Trade and integration, Environment and natura...","[{u'code': u'5', u'name': u'Trade and integrat...","5,11,10"
14,0,MINISTRY OF PLANNING AND INTERNATIONAL COOPERA...,Technical Assistance Loan,IN,10000000,"[{u'Percent': 100, u'Name': u'Health and other...","[{u'code': u'JX', u'name': u'Health and other ...","[Social protection and risk management, Social...","[{u'code': u'6', u'name': u'Social protection ...","6,6,6"

In [9]:
#1--Top ten countries with the most projects
world_bank_data['countryshortname'].value_counts().nlargest(10)

China                 19
Indonesia             19
Vietnam               17
India                 16
Yemen, Republic of    13
Morocco               12
Bangladesh            12
Nepal                 12
Africa                11
Mozambique            11
Name: countryshortname, dtype: int64

In [10]:
#2--Top ten major project themes
#import data in as a string file:
world_bank_data_str = json.load(open('data/world_bank_projects.json'))

top_project_themes = json_normalize(world_bank_data_str, 'mjtheme_namecode')
top_project_themes = top_project_themes.groupby('name')
top_project_themes = top_project_themes.size().sort_values(ascending=False)
top_project_themes.head(10)

name
Environment and natural resources management    223
Rural development                               202
Human development                               197
Public sector governance                        184
Social protection and risk management           158
Financial and private sector development        130
                                                122
Social dev/gender/inclusion                     119
Trade and integration                            72
Urban development                                47
dtype: int64

In [11]:
#see if there are any rows missing 'mjtheme_namecode' values:
count_nulls = 0
for d in range(0,len(world_bank_data)):
    if (world_bank_data.loc[d,'mjtheme_namecode'][0]['name'] == ''):
        count_nulls+=1
count_nulls

9

In [12]:
#3--Create a dataframe with the missing names filled in.

#--create a lookup table 'lookup_dict' of all 'mjtheme_code' values, 
#  with corresponding 'mjtheme' names

#--create a def that will loop through df rows, then n number of list items
#  in the 'mjtheme_namecode' feature (it's a list of dictionaries)

#--set the 'mjtheme' value equal to the the value of the key in the lookup 
#    table dict (do the same for the 'mjtheme_namecode' feature)
#--requery to see if any names are null values

In [13]:
#create lookup_dict dictionary of names and codes:
lookup_dict = {}
for index, row in world_bank_data.iterrows():
    #feature can have more than 1 code
    for d in range(len(row['mjtheme_namecode'])):
        #take the first list's namecode
        val = row['mjtheme_namecode'][0]['name']
        if row['mjtheme_namecode'][d]['code'] not in lookup_dict.keys():
            #grab the code for that name
            lookup_dict[val] = row['mjtheme_namecode'][d]['code']
lookup_dict

{u'': u'11',
 u'Economic management': u'8',
 u'Environment and natural resources management': u'5',
 u'Financial and private sector development': u'7',
 u'Human development': u'8',
 u'Public sector governance': u'2',
 u'Rule of law': u'7',
 u'Rural development': u'10',
 u'Social dev/gender/inclusion': u'1',
 u'Social protection and risk management': u'8',
 u'Trade and integration': u'10',
 u'Urban development': u'4'}

In [14]:
#need to remove null keys:
del lookup_dict['']
lookup_dict

{u'Economic management': u'8',
 u'Environment and natural resources management': u'5',
 u'Financial and private sector development': u'7',
 u'Human development': u'8',
 u'Public sector governance': u'2',
 u'Rule of law': u'7',
 u'Rural development': u'10',
 u'Social dev/gender/inclusion': u'1',
 u'Social protection and risk management': u'8',
 u'Trade and integration': u'10',
 u'Urban development': u'4'}

In [15]:
#invert the keys and values, so codes can be looked up:
lookup_dict_inv = {v: k for k, v in lookup_dict.items()}
lookup_dict_inv

{u'1': u'Social dev/gender/inclusion',
 u'10': u'Rural development',
 u'2': u'Public sector governance',
 u'4': u'Urban development',
 u'5': u'Environment and natural resources management',
 u'7': u'Rule of law',
 u'8': u'Social protection and risk management'}

In [16]:
#Def to loop through df, and where 'mjtheme_namecode' is null lookup code 
#and populate with name:
def find_nulls(df):
    for d in range(0,len(df)):
        name = []
        if (df.loc[d,'mjtheme_namecode'][0]['name'] == ''):
            code = df.loc[d]['mjtheme_namecode'][0]['code']
            if code in lookup_dict_inv:
                name = lookup_dict_inv[code]#list({k if v == code else 'Unknown': k for (k,v) in lookup_dict.items()})
            else:
                name = 'missing'
            df.loc[d,'mjtheme'] = name
            df.loc[d,'mjtheme_namecode'][0]['name'] = name

In [17]:
#11th record, missing mjtheme value, has mjtheme_namecode '4'
world_bank_data.iloc[12,15:25]

idacommamt                                                      97000000
impagency                                     MINISTRY OF COMMUNICATIONS
lendinginstr                                    Specific Investment Loan
lendinginstrtype                                                      IN
lendprojectcost                                                 97000000
majorsector_percent    [{u'Percent': 100, u'Name': u'Information and ...
mjsector_namecode      [{u'code': u'CX', u'name': u'Information and c...
mjtheme                                                              NaN
mjtheme_namecode                         [{u'code': u'4', u'name': u''}]
mjthemecode                                                            4
Name: 12, dtype: object

In [18]:
#notice that in this record the 'mjtheme' feature is NaN, as well as the
#'name' key value in the dictionary in the 'mjtheme_namecode' feature.

find_nulls(world_bank_data)

In [19]:
world_bank_data.iloc[12,15:25]

idacommamt                                                      97000000
impagency                                     MINISTRY OF COMMUNICATIONS
lendinginstr                                    Specific Investment Loan
lendinginstrtype                                                      IN
lendprojectcost                                                 97000000
majorsector_percent    [{u'Percent': 100, u'Name': u'Information and ...
mjsector_namecode      [{u'code': u'CX', u'name': u'Information and c...
mjtheme                                                Urban development
mjtheme_namecode        [{u'code': u'4', u'name': u'Urban development'}]
mjthemecode                                                            4
Name: 12, dtype: object

In [20]:
#re-query to see if all names are now filled in:
count_nulls = 0
for d in range(0,len(world_bank_data)):
    if (world_bank_data.loc[d,'mjtheme_namecode'][0]['name'] == ''):
        count_nulls+=1
count_nulls

0