In [45]:
#import the holy trinity
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [37]:
avail_solar =  pd.read_csv('C:/Users/Matt/Desktop/datasets/area_azi_tilt_lower.csv')

In [128]:
#avail_solar.head(5)

In [129]:
#print (avail_solar[data['zip'] == 80549])

In [12]:
#bring in the datasets for adopter (has solar), considerer(thought about buying), and gps(have not thought of 
#buying yet) with goal: can you predict who will buy solar based on those who have already purchased?

considerer = pd.read_csv('C:/Users/Matt/Desktop/datasets/CONSIDERER.csv')

In [13]:
considerer.head()

,CASE_ID,GPS_NAC_ADOPTER,SURVEY_SOURCE,STATE,HOME,HAVESOLAR,CONSIDEREDSOLAR,CONSIDER_SERIOUSLY,CONSIDER_ACTN1,CONSIDER_ACTN2,...,HAVE_KIDS,GENDER,AGE_BINNED,EDUC_BINNED,FINANCIAL,INCOME_BINNED,RETIRED,RETIRED_LAST5YRS,RETIRE_WHEN,RETIRE_WHEN_BINNED
0,2946,2,4,2,NaN,2,1,3,1,0,...,1,1,1.0,3,3,4,0,NaN,1.0,6.0
1,2947,2,4,3,NaN,2,1,2,1,1,...,1,0,2.0,2,1,4,0,NaN,1.0,5.0
2,2948,2,4,4,NaN,2,1,3,1,0,...,0,1,4.0,4,1,3,0,NaN,2.0,NaN
3,2949,2,4,4,NaN,2,1,3,1,1,...,0,0,3.0,1,2,4,1,0.0,NaN,NaN
4,2950,2,4,2,NaN,2,1,2,0,0,...,0,0,4.0,3,1,2,1,0.0,NaN,NaN

In [23]:
considerer.columns

Index(['CASE_ID', 'GPS_NAC_ADOPTER', 'SURVEY_SOURCE', 'STATE', 'HOME',
       'HAVESOLAR', 'CONSIDEREDSOLAR', 'CONSIDER_SERIOUSLY', 'CONSIDER_ACTN1',
       'CONSIDER_ACTN2',
       ...
       'HAVE_KIDS', 'GENDER', 'AGE_BINNED', 'EDUC_BINNED', 'FINANCIAL',
       'INCOME_BINNED', 'RETIRED', 'RETIRED_LAST5YRS', 'RETIRE_WHEN',
       'RETIRE_WHEN_BINNED'],
      dtype='object', length=201)

In [130]:
considerer.shape

(588, 201)

In [ ]:
adopter= pd.read_csv('C:/Users/Matt/Desktop/datasets/ADOPTER.csv')

In [20]:
adopter.head()

,CASE_ID,GPS_NAC_ADOPTER,SURVEY_SOURCE,STATE,HOME,HAVESOLAR,PROMPT1,PROMPT2,PROMPT3,PROMPT4,...,HAVE_KIDS,GENDER,AGE_BINNED,EDUC_BINNED,FINANCIAL,INCOME_BINNED,RETIRED,RETIRED_LAST5YRS,RETIRE_WHEN,RETIRE_WHEN_BINNED
0,1342,3,2,4,NaN,1,0,0,1,0,...,0.0,0.0,4.0,4.0,2,5.0,1,1.0,NaN,NaN
1,1343,3,2,4,NaN,1,1,0,1,0,...,0.0,0.0,4.0,2.0,1,4.0,0,NaN,98.0,NaN
2,1344,3,2,4,NaN,1,0,0,0,0,...,99.0,99.0,NaN,99.0,99,99.0,99,NaN,NaN,NaN
3,1345,3,2,4,NaN,1,0,0,1,0,...,1.0,0.0,2.0,2.0,2,3.0,0,NaN,98.0,NaN
4,1346,3,2,4,NaN,1,0,0,1,0,...,0.0,1.0,2.0,2.0,2,1.0,0,NaN,98.0,NaN

In [21]:
adopter.columns

Index(['CASE_ID', 'GPS_NAC_ADOPTER', 'SURVEY_SOURCE', 'STATE', 'HOME',
       'HAVESOLAR', 'PROMPT1', 'PROMPT2', 'PROMPT3', 'PROMPT4',
       ...
       'HAVE_KIDS', 'GENDER', 'AGE_BINNED', 'EDUC_BINNED', 'FINANCIAL',
       'INCOME_BINNED', 'RETIRED', 'RETIRED_LAST5YRS', 'RETIRE_WHEN',
       'RETIRE_WHEN_BINNED'],
      dtype='object', length=255)

In [131]:
adopter.shape

(1604, 255)

In [25]:
gps= pd.read_csv('C:/Users/Matt/Desktop/datasets/GPS.csv')

In [26]:
gps.head()

,CASE_ID,GPS_NAC_ADOPTER,SURVEY_SOURCE,HOME,STATE,AGE_BINNED,EDUC_BINNED,F1,F2,TRIG1,...,SQFT_BINNED,GENDER,PEOPLE_TOT_3PLUS,HAVE_KIDS,EMPLOY_1,EMPLOY_2,EMPLOY_5,RETIRED,FINANCIAL,INCOME_BINNED
0,1,1,1,1,1,4.0,4,1,0,0,...,3,0,0.0,0,0,0,0,1,2,3
1,2,1,1,1,4,3.0,4,1,1,0,...,3,1,0.0,0,1,0,0,0,2,4
2,3,1,1,1,2,4.0,1,1,1,0,...,4,0,0.0,0,0,0,0,1,1,95
3,4,1,1,1,4,4.0,2,0,1,1,...,2,0,0.0,0,0,0,0,1,1,4
4,5,1,1,1,4,4.0,1,0,1,1,...,3,0,0.0,0,0,0,0,1,2,3

In [27]:
gps.columns

Index(['CASE_ID', 'GPS_NAC_ADOPTER', 'SURVEY_SOURCE', 'HOME', 'STATE',
       'AGE_BINNED', 'EDUC_BINNED', 'F1', 'F2', 'TRIG1',
       ...
       'SQFT_BINNED', 'GENDER', 'PEOPLE_TOT_3PLUS', 'HAVE_KIDS', 'EMPLOY_1',
       'EMPLOY_2', 'EMPLOY_5', 'RETIRED', 'FINANCIAL', 'INCOME_BINNED'],
      dtype='object', length=123)

In [132]:
gps.shape

(1341, 123)

In [136]:
#find out how many columns are in both considerer and gps dfs, so as to compare:
c_index = considerer.columns
a_index = adopter.columns
a_c_cols = c_index.intersection(a_index)

In [137]:
a_c_cols

Index(['CASE_ID', 'GPS_NAC_ADOPTER', 'SURVEY_SOURCE', 'STATE', 'HOME',
       'HAVESOLAR', 'PROMPT1', 'PROMPT2', 'PROMPT3', 'PROMPT4',
       ...
       'HAVE_KIDS', 'GENDER', 'AGE_BINNED', 'EDUC_BINNED', 'FINANCIAL',
       'INCOME_BINNED', 'RETIRED', 'RETIRED_LAST5YRS', 'RETIRE_WHEN',
       'RETIRE_WHEN_BINNED'],
      dtype='object', length=142)

In [144]:
#do the same for adopters (will need features in all three datasets to be able to compare)
g_index = gps.columns
a_c_g_cols = a_c_cols.intersection(g_index)

In [145]:
a_c_g_cols

Index(['CASE_ID', 'GPS_NAC_ADOPTER', 'SURVEY_SOURCE', 'STATE', 'HOME',
       'WINTER_NOPV_BINNED', 'SUMMER_NOPV_BINNED', 'PN1', 'PN2', 'PN3', 'E2',
       'BB1', 'BB2', 'BB3', 'BTE8', 'BE13', 'BE10', 'Co3', 'VB1', 'VB2', 'VB3',
       'VA1', 'VA2', 'VA3', 'VT1', 'VT2', 'VT3', 'VE1', 'VE2', 'VE4', 'VO1',
       'VO2', 'VO3', 'CIJM1', 'CIJM2', 'CIJM3', 'CNS1', 'CNS2', 'CNS4',
       'SQFT_BINNED', 'STANCE', 'PEOPLE_TOT_3PLUS', 'HAVE_KIDS', 'GENDER',
       'AGE_BINNED', 'EDUC_BINNED', 'FINANCIAL', 'INCOME_BINNED', 'RETIRED'],
      dtype='object')

In [ ]:
#looks to be consistant across all three datasets, so now we can remove the others, and focus
#on reducing the above list of features to only those that have enough data and are important

In [146]:
a_c_g_cols.value_counts().sum() #backend way of getting a count of like columns (will be only 1 of each)
#find way to count on index objects!

49

In [166]:
#create new datasets with dropped colmns, so only comparable columns exist
a_comparable = adopter[a_c_g_cols] #should now contain only relatable columns, repeat for c and c datasets
c_comparable = considerer[a_c_g_cols]
g_comparable = gps[a_c_g_cols]

a_c_g_cols_ar = np.array(a_c_g_cols)
a_c_g_cols_ar #may not need this, but found it difficult to work with an index object...

array(['CASE_ID', 'GPS_NAC_ADOPTER', 'SURVEY_SOURCE', 'STATE', 'HOME',
       'WINTER_NOPV_BINNED', 'SUMMER_NOPV_BINNED', 'PN1', 'PN2', 'PN3',
       'E2', 'BB1', 'BB2', 'BB3', 'BTE8', 'BE13', 'BE10', 'Co3', 'VB1',
       'VB2', 'VB3', 'VA1', 'VA2', 'VA3', 'VT1', 'VT2', 'VT3', 'VE1',
       'VE2', 'VE4', 'VO1', 'VO2', 'VO3', 'CIJM1', 'CIJM2', 'CIJM3',
       'CNS1', 'CNS2', 'CNS4', 'SQFT_BINNED', 'STANCE',
       'PEOPLE_TOT_3PLUS', 'HAVE_KIDS', 'GENDER', 'AGE_BINNED',
       'EDUC_BINNED', 'FINANCIAL', 'INCOME_BINNED', 'RETIRED'],
      dtype=object)

In [168]:
#calculate the percent of missing data:
a_comp_nulls = a_comparable.isnull().sum()/len(a_comparable)*100
a_comp_nulls = a_comp_nulls[a_comp_nulls !=0]
print("Percent missing data:")
print(a_comp_nulls)

Percent missing data:
HOME                  95.324190
WINTER_NOPV_BINNED     8.291771
SUMMER_NOPV_BINNED     9.102244
SQFT_BINNED           11.221945
PEOPLE_TOT_3PLUS       8.728180
HAVE_KIDS              0.187032
GENDER                 0.561097
AGE_BINNED             7.356608
EDUC_BINNED            9.289277
INCOME_BINNED          3.366584
dtype: float64

In [ ]:
#Adopters missing some key data:
#Home-remove since so much is missing (same in considerer dataset)
#Winter/Summer bills w/o PV-may be able to fill with median???
#SQFT-fill with median?
#People-total >=3-not sure what to do...
#Have Kids/Gender-very low, see how many records (does not show missing in other datasets)
#age-shows up in other datasets too, need to determine what to do with this, seems important?
#education-seems important to target, not showing in other datasets
#income-same as education

In [169]:
#calculate the percent of missing data:
c_comp_nulls = c_comparable.isnull().sum()/len(c_comparable)*100
c_comp_nulls = c_comp_nulls[c_comp_nulls !=0]
print("Percent missing data:")
print(c_comp_nulls)

Percent missing data:
HOME                  25.850340
WINTER_NOPV_BINNED     2.551020
SUMMER_NOPV_BINNED     2.210884
PN2                    0.170068
E2                     0.170068
BB2                    0.170068
BE10                   0.170068
VT1                    0.170068
SQFT_BINNED            8.843537
PEOPLE_TOT_3PLUS       2.380952
AGE_BINNED             1.700680
dtype: float64

In [175]:
#the features with 0.170068 are probably all from same record(s). Find out how many null records:
c_comparable[c_comparable['PN2'].isnull()]

,CASE_ID,GPS_NAC_ADOPTER,SURVEY_SOURCE,STATE,HOME,WINTER_NOPV_BINNED,SUMMER_NOPV_BINNED,PN1,PN2,PN3,...,SQFT_BINNED,STANCE,PEOPLE_TOT_3PLUS,HAVE_KIDS,GENDER,AGE_BINNED,EDUC_BINNED,FINANCIAL,INCOME_BINNED,RETIRED
347,3293,2,5,2,1.0,2.0,1.0,1,NaN,1,...,NaN,1,NaN,99,1,2.0,4,4,1,0

In [ ]:
#delete this one record and all of those nulls will be removed!

In [171]:
#calculate the percent of missing data:
g_comp_nulls = g_comparable.isnull().sum()/len(g_comparable)*100
g_comp_nulls = g_comp_nulls[g_comp_nulls !=0]
print("Percent missing data:")
print(g_comp_nulls)

Percent missing data:
WINTER_NOPV_BINNED    8.277405
SUMMER_NOPV_BINNED    8.426547
PEOPLE_TOT_3PLUS      1.789709
AGE_BINNED            0.149142
dtype: float64

In [176]:
a_comparable['PURCHASED'] = 1 #warning thrown, but still worked?
a_comparable.head()

D:\Program Files\Anaconda\envs\tensorflow\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

,CASE_ID,GPS_NAC_ADOPTER,SURVEY_SOURCE,STATE,HOME,WINTER_NOPV_BINNED,SUMMER_NOPV_BINNED,PN1,PN2,PN3,...,STANCE,PEOPLE_TOT_3PLUS,HAVE_KIDS,GENDER,AGE_BINNED,EDUC_BINNED,FINANCIAL,INCOME_BINNED,RETIRED,PURCHASED
0,1342,3,2,4,NaN,4.0,9.0,4,4,4,...,2,1.0,0.0,0.0,4.0,4.0,2,5.0,1,1
1,1343,3,2,4,NaN,7.0,11.0,4,4,5,...,5,0.0,0.0,0.0,4.0,2.0,1,4.0,0,1
2,1344,3,2,4,NaN,NaN,NaN,4,4,3,...,90,NaN,99.0,99.0,NaN,99.0,99,99.0,99,1
3,1345,3,2,4,NaN,11.0,11.0,1,1,1,...,5,1.0,1.0,0.0,2.0,2.0,2,3.0,0,1
4,1346,3,2,4,NaN,5.0,7.0,5,3,4,...,3,1.0,0.0,1.0,2.0,2.0,2,1.0,0,1